html body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #FCFCFC;
}

/* ==== Entity Diff Fields ==== */
.entity h3, .entity h4 {
  margin: 0;
}

.entity .field {
  border: 1px solid #bbb;
  border-bottom-style: none;
}

.entity .field:last-child {
  border-bottom-style: solid;
}

.entity .field .property {
  /*background-color: #9DBC9D;*/
}

.entity .field .property.changed {
  background-color: #FDA37E;
}

.entity .field .column {
  margin-top: 10px;
  margin-bottom: 10px;
}

.entity .field .column:nth-child(3n+1) {
  text-align: right;
}

.entity .field .column:nth-child(3n+2) {
  text-align: center;
  font-weight: bold;
}

.entity .field .column:nth-child(3n+3) {
  text-align: left;
}
