<html ng-app="modelReporterApp">
<head>
  <link rel="stylesheet" type="text/css" href="../lib/semantic-ui/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="index.css">

  <script src="../lib/angular/angular.js"></script>
  <script src="index.js"></script>
  <script src="controllers.js"></script>
  <script src="directives.js"></script>
</head>

<body ng-controller="modelReporterCtrl">

    <div class="ui form segment">
      <file-input
        label="Previous Model"
        filename="previousModelFilename"
        dialog-options="fileDialogOptions">
      </file-input>
      <file-input
        label="Current Model"
        filename="currentModelFilename"
        dialog-options="fileDialogOptions">
      </file-input>
      <div class="ui button" ng-click="performDiff()">
        Perform Diff
      </div>
    </div>

    <div class="ui segment entity" ng-repeat="entity in versionedEntities">
      <div class="ui grid">
        <div class="sixteen wide column">
          <h3>{{entity.Id.current}}</h3>
        </div>
        <div class="sixteen wide column">
          <h4>FieldTypes:</h4>
          <div class="ui grid field" ng-repeat="field in entity.FieldTypes">
            <div class="six wide column">
              {{field.previous.Id}}
            </div>
            <div class="four wide column">
              Id
            </div>
            <div class="six wide column">
              {{field.current.Id}}
            </div>
            <div class="six wide column">
              {{field.previous.DataType}}
            </div>
            <div class="four wide column">
              Data Type
            </div>
            <div class="six wide column">
              {{field.current.DataType}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <pre class="ui message">{{diffResults}}</pre>

</body>

</html>
